@use './styles/variables' as *;
@use './styles/minxis' as *;

header {

    svg {
        height: 40px;
        margin-top: 17px;
    }

    background-color: $bg-seconcdary;
    height: 74px;
    width: 100%;
    text-align: center;
}

.destaques {
    display: flex;
    flex-direction: row;
    gap: 12px
}

.primeiro-destaque {
    width: 464px;
    height: 426px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.segundo-destaque {
    width: 464px;
    height: 426px;

}

.destaques{
    margin-top: 24px;
}
